extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/add')
      #form-group
        label Title:
        br
        input.form-control(name='title', type='text')
      #form-group
        label Author:
        br
        input.form-control(name='author', type='text')
      #form-group.textarea
        label Body:
        br
        textarea.textbox-grow.form-control(name='body')
      br
      input.btn.btn-primary(type='submit', value='Submit')
      
